@model DotNetCodeGenerator.Domain.Entities.CodeGeneratorResult
@using DotNetCodeGenerator.Domain.Helpers;
@using HelpersProject;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject DotNetCoreCodeGenerator.Domain.MyAppSetttings MyAppSetttings;
@{
    ViewData["Title"] = "Index";
}


<h2>Code Generator Result</h2>
<b>
    @MyAppSetttings.GetConfigString("MyConfig2");
</b>
<hr />
<b>Client IP: @HttpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString()</b>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">
            <input type="hidden" value="@Model.SelectedTable.ToStr()" id="SelectedTableValue" />
            <div class="bs-example">
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@Model.UserMessageState.ToString()!</strong> @Model.UserMessage.ToStr()
                </div>
            </div>
            <select asp-for="SelectedTable">
                <option>Please select</option>
            </select>
            <div class="form-group">
                <input type="button" id="RetrieveTables" value="Get Tables" />
                <input type="text" id="TextBox_Filter" placeholder="Filter Table Names" />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConnectionString" class="control-label"></label>
                <input asp-for="ConnectionString" class="form-control" />
                <span asp-validation-for="ConnectionString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MySqlConnectionString" class="control-label"></label>
                <input asp-for="MySqlConnectionString" class="form-control" />
                <span asp-validation-for="MySqlConnectionString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SqlCreateTableStatement" class="control-label"></label>
                <textarea asp-for="SqlCreateTableStatement" class="form-control"></textarea>
            </div>


            <div class="form-group">
                <label asp-for="ModifiedTableName" class="control-label"></label>
                <input asp-for="ModifiedTableName" class="form-control" />
                <span asp-validation-for="ModifiedTableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="btnAction" value="Fill GridView" class="btn btn-default" />
                <input type="submit" name="btnAction" value="Generate Code" class="btn btn-default" />
            </div>
            <div class="form-group">
                <label asp-for="StringCodePattern" class="control-label"></label>
                <input asp-for="StringCodePattern" class="form-control" />
                <span asp-validation-for="StringCodePattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameSpace" class="control-label"></label>
                <input asp-for="NameSpace" class="form-control" />
                <span asp-validation-for="NameSpace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsMethodStatic" /> @Html.DisplayNameFor(model => model.IsMethodStatic)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsModelAttributesVisible" /> @Html.DisplayNameFor(model => model.IsModelAttributesVisible)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StoredProcExec" class="control-label"></label>
                <input asp-for="StoredProcExec" class="form-control" />
                <span asp-validation-for="StoredProcExec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredProcExecCode" class="control-label"></label>
                <input asp-for="StoredProcExecCode" class="form-control" />
                <span asp-validation-for="StoredProcExecCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredProcExecModel" class="control-label"></label>
                <input asp-for="StoredProcExecModel" class="form-control" />
                <span asp-validation-for="StoredProcExecModel" class="text-danger"></span>
            </div>
            <div class="form-group">

                @await Html.PartialAsync("_ResultCodePartial",
     new ViewDataDictionary(this.ViewData) {
         { "Name", "StoredProcExecModelDataReader" },
         { "Value", Model.StoredProcExecModelDataReader },
         { "ResultLanguage", "csharp" } })

            </div>
            <div class="form-group">

                @await Html.PartialAsync("_ResultCodePartial",
          new ViewDataDictionary(this.ViewData) {
              { "Name", "TableRepository" },
              { "Value", Model.TableRepository },
              { "ResultLanguage", "csharp" } })

            </div>
            <div class="form-group">
                @await Html.PartialAsync("_ResultCodePartial",
               new ViewDataDictionary(this.ViewData) {
                   { "Name", "TableClassItem" },
                   { "Value", Model.TableClassItem },
                   { "ResultLanguage", "csharp" } })
            </div>
            <div class="form-group">

                @await Html.PartialAsync("_ResultCodePartial",
new ViewDataDictionary(this.ViewData) {
{ "Name", "TableClassInstance" },
{ "Value", Model.TableClassInstance },
{ "ResultLanguage", "csharp" } })

            </div>
            <div class="form-group">

                @await Html.PartialAsync("_ResultCodePartial",
new ViewDataDictionary(this.ViewData) {
{ "Name", "SqlDatabaseOperation" },
{ "Value", Model.SqlDatabaseOperation },
{ "ResultLanguage", "csharp" } })

            </div>
            <div class="form-group">

                @await Html.PartialAsync("_ResultCodePartial",
new ViewDataDictionary(this.ViewData) {
{ "Name", "AspMvcControllerClass" },
{ "Value", Model.AspMvcControllerClass },
{ "ResultLanguage", "csharp" } })

            </div>
            <div class="form-group">

                @await Html.PartialAsync("_ResultCodePartial",
new ViewDataDictionary(this.ViewData) {
{ "Name", "SqlSaveOrUpdateStoredProc" },
{ "Value", Model.SqlSaveOrUpdateStoredProc },
{ "ResultLanguage", "csharp" } })

            </div>
            <div class="form-group">

                @await Html.PartialAsync("_ResultCodePartial",
new ViewDataDictionary(this.ViewData) {
{ "Name", "MergeSqlStoredProcedure" },
{ "Value", Model.MergeSqlStoredProcedure },
{ "ResultLanguage", "sql" } })

            </div>
            <div class="form-group">
     
                @await Html.PartialAsync("_ResultCodePartial",
new ViewDataDictionary(this.ViewData) {
{ "Name", "MySqlDatabaseOperation" },
{ "Value", Model.MySqlDatabaseOperation },
{ "ResultLanguage", "csharp" } })
            </div>
            <div class="form-group">
                <a target="_blank" href="https://www.cleancss.com/sql-beautify/" class="btn btn-info">Go To MySql Formatter (Copy And Paste Mysql Code)</a>
                @await Html.PartialAsync("_ResultCodePartial",
new ViewDataDictionary(this.ViewData) {
{ "Name", "MySqlSaveOrUpdateStoredProc" },
{ "Value", Model.MySqlSaveOrUpdateStoredProc },
{ "ResultLanguage", "sql" } })

            </div>
            <div class="form-group">
                @await Html.PartialAsync("_ResultCodePartial",
new ViewDataDictionary(this.ViewData) {
{ "Name", "WebApiController" },
{ "Value", Model.WebApiController },
{ "ResultLanguage", "csharp" } })
            </div>

        </form>
    </div>
</div>
<input id="TableListCopied" type="hidden" />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
